@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  font-family: "Spartan", sans-serif;
}

.footer_position {
  position: relative;
  /* top: 200%; */
  bottom: -2270px;
  left: 0;
  right: 0;
}

.logo {
  width: 10rem;
}

h4 {
  font-size: 15px;
}

p {
  color: grey;
  margin: 15px 0 20px 0;
}
.banner {
  padding: 100px;
  text-align: start;
  color: beige;
  background-image: url("../../img/banner.webp");
  background-size: cover;
}

.banner h2,
button {
  text-align: start;
  padding: 10px;
}
#sign-in {
  margin-top: 50px;
  padding: 50px;
  display: flex;
  justify-content: space-between;
  background-image: url("../../img/sign-up.jpg");
  background-size: cover;
}

#sign-in span {
  color: rgb(25, 210, 22);
}
#sign-in button {
  padding: 5px;
}
.search {
  color: rgb(34, 30, 22);
}

#sign-in .signup_btn {
  display: block;
  padding: 1.5rem;
  font-weight: 400;
  background-color: white;
}
#search {
  width: 300px;
  height: 30px;
}

footer {
  padding: 50px;
  margin-top: 50px;
  padding-left: 40px;
  display: flex;
  justify-content: space-evenly;
}
.col {
  cursor: pointer;
}

.icons {
  display: flex;
  /* justify-content: space-evenly; */
  gap: 6px;
  padding: 5px;
}
.col i {
  color: rgb(31, 31, 107);
}
.col h4 {
  padding-top: 15px;
}
.col p {
  color: black;
  font-size: small;
  line-height: 2px;
}
#App {
  width: 300px;
}
.col #payment {
  width: 200px;
}

@media screen and (max-width: 768px) {
  .footer_position {
    position: relative;
    /* top: 200%; */
    bottom: -2270px;
    left: 0;
    right: 0;
  }

  .footer_col {
    width: 50%;
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 574px) {

    .footer_position {
        position: relative;
        /* top: 200%; */
        bottom: -2270px;
        left: 0;
        right: 0;
      }
  .footer_col {
    width: 100%;
  }
}
